params {
  annotate_2_1 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: annotate_2_1 {
    container = "quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.annotate_2_1.args
    
  }
}

